.nav-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #1e836c;
}

.user-detail {
  background-color: #e0ebe8;
}

.user-button {
  cursor: pointer;
  background-color: #1e836c;
  color: #ffffff;
  border: 1px solid #1e836c;
}

.user-button:active {
  cursor: pointer;
  background-color: #1e836c;
  color: #ffffff;
  border: 1px solid #1e836c;
}

.user-button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #1e836c;
  color: #1e836c;
}
